<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishnubk.menu"
    android:configChanges="locale">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/menu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomePageActivity"
            android:label="Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ItemDisplayActivity"
            android:label="@string/title_activity_item__display"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.OrderListActivity"
            android:label="@string/title_activity_order_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AddMenuDetailsActivity"
            android:label="@string/title_activity_add_menu_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DeleteActivity"
            android:label="@string/title_activity_delete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DeleteItemActivity"
            android:label="@string/title_activity_delete_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CustomerOrderActivity"
            android:label="@string/title_activity_customer_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>